# Python
.env


# Virtual Environment
.venv/
venv/
ENV/
env/

# Node
node_modules/


# Docker
.docker/
docker-compose.override.yml

# Fine-tuning datas
finetuning-corpus/*

# Fine-tuned Models
finetuned-model/*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 
pnpm-debug.log* 