# Dart & Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
pubspec.lock

# IDE
.vscode/
.idea/
.DS_Store

# Git
.git/
.gitignore

# Node (if hybrid project)
node_modules/

# Logs
*.log
