# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Model files (Uncomment these when migrate to cloud)
# *.pt
# *.pth
# *.h5
# *.onnx

# Jupyter notebook checkpoints
.ipynb_checkpoints/
*.ipynb

# Fine-tuning data
finetuning-corpus/
finetuning-corpus/*

# Logs
*.log

# Git and IDE
.git/
.gitignore
.vscode/
.idea/
.DS_Store
